.wrapper {
    width: 100%;
    min-height: 318px;
    background: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 78%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;

            span {
                font-size: 34px;

            }

            strong {
                font-size: 34px;

            }

            small {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }

        .right {
            padding-top: 30px;
            padding-bottom: 30px;
            transition: 0.5s;
            margin-right: 60px;

            
        }
    }

    .content:hover .right {
        transform: scale(1.1);
    }
}



@media screen and (max-width:992px) {
    .wrapper {
        .content {
            width: 100%;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding: 0 15px;

            .left {
                align-items:center;
                text-align: center;
            }

            .right {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .image {
                    .img {
                        width: 100%;
                        height: 237px;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .wrapper {
        min-height: 528px;
        .content {
            .left {
                span {
                    font-size: 25px;
                }

                strong {
                    font-size: 25px;
                }
            }
            
        }
    }
}

@media screen and (max-width:400px) {
    .wrapper {
        min-height: 635px;
        .content {
            .left {
                span {
                    font-size: 25px;
                }

                strong {
                    font-size: 25px;
                }
            }

            .right {
                .image {
                    .img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            
        }
    }
}